<% include partials/top %>

<div id="container" class="container mt-5 mb-3">
  
  <h1 class="text-center mb-3">Estimator</h1>

  <a class="btn btn-outline-primary btn-block mt-3" href="/users/login">Login</a>

  <a class="btn btn-outline-primary btn-block mt-3" href="/users/signup">Signup</a>

</div>

<% include partials/bottom %>
