<% include partials/top %>

<div class="container mt-5 mb-3">

  <h1 class="text-center mb-3">Info</h1>

  <h2 class="text-center">Methodology</h2>

  <p><code>Total Labor Expenses = Payroll Tax Expenses + Wages And Salaries</code></p>

  <p><code>Net Operating Expenses = Total Operating Expenses - Total Labor Expenses</code></p>

  <p><code>Material Overhead Multiplier = (Total Labor Expenses / Total Cost Of Goods Sold) * (Net Operating Expenses / (Total Cost Of Goods Sold + Total Labor Expenses)) + 1</code></p>

  <p><code>Labor Overhead Multiplier = (Total Cost Of Goods Sold / Total Labor Expenses) * (Net Operating Expenses / (Total Cost Of Goods Sold + Total Labor Expenses)) + 1</code></p>

  <p><code>Total Direct Labor Costs = Employee Hourly Rate * Hours Worked Or Estimated For Job</code></p>

  <p><code>Total Job Costs = Total Job Expenses + Total Direct Labor Costs</code></p>

  <p><code>Total Parts Price = Material Overhead Multiplier * Total Job Expenses</code></p>

  <p><code>Total Labor Price = Labor Overhead Multiplier * Total Direct Labor Costs</code></p>

  <p><code>Total Job Price = Total Parts Price + Total Labor Price</code></p>

  <p><code>Profit Multiplier = -1 / (Desired Pre Tax Net Profit Margin - 1)</code></p>

  <p><code>Sale Price To Customer = Total Job Price * Profit Multiplier</code></p>

  <h2 class="text-center">Author</h3>

  <h3 class="text-center">Aaron Shivers</h2>

</div>

<% include partials/bottom %>
